  #imas > label > input{ 
  visibility: hidden; 
  position: absolute; 
		}
		#imas > label > input + img{ 
		  cursor:pointer;
		  border:2px solid transparent;
		}
		#imas > label > input:checked + img{
		  border:2px solid #3ac9d6;
		}